<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Vítejte v Maturitním Cvičení JS</h1>
    </header>
    <main>
        <p><%= message %></p>
    </main>
    <footer>
        &copy; 2026 Maturitní Cvičení JS
    </footer>
</body>
</html>
